/* Using 4.85 contrast ratio */
/* https://contrast-ratio.com/#%23c77dff-on-%232e303e */

:root {
  --my-heading-color: #997bff;
  --my-a-color: var(--my-heading-color);
  --my-a-underline-color: #3e3464;
  --my-a-hover-color: #ff5bdf;
  --my-a-hover-underline-color: #52304b;
  --my-a-active-bgc: #52304b;
}

[data-md-color-scheme="slate"] {

  --md-hue: 272;

  /* Default color shades */
  --md-default-fg-color:               hsla(var(--md-hue), 25%, 70%, 1);
  --md-default-fg-color--light:        hsla(var(--md-hue), 25%, 70%, 0.62);
  --md-default-fg-color--lighter:      hsla(var(--md-hue), 25%, 70%, 0.32);
  --md-default-fg-color--lightest:     hsla(var(--md-hue), 25%, 70%, 0.12);
  --md-default-bg-color:               hsla(var(--md-hue), 15%, 3%, 1);
  --md-default-bg-color--light:        hsla(var(--md-hue), 15%, 3%, 0.54);
  --md-default-bg-color--lighter:      hsla(var(--md-hue), 15%, 3%, 0.26);
  --md-default-bg-color--lightest:     hsla(var(--md-hue), 15%, 3%, 0.07);

  /* Code color shades */
  --md-code-fg-color:                  hsla(var(--md-hue), 18%, 76%, 1);
  --md-code-bg-color:                  hsla(var(--md-hue), 15%, 10%, 1);

  /* Code highlighting color shades */
  --md-code-hl-color:                  hsla(#{hex2hsl($clr-blue-a200)}, 0.15);
  --md-code-hl-number-color:           hsla(6, 74%, 63%, 1);
  --md-code-hl-special-color:          hsla(340, 83%, 66%, 1);
  --md-code-hl-function-color:         hsla(291, 57%, 65%, 1);
  --md-code-hl-constant-color:         hsla(250, 62%, 70%, 1);
  --md-code-hl-keyword-color:          hsla(219, 66%, 64%, 1);
  --md-code-hl-string-color:           hsla(150, 58%, 44%, 1);

  /* Typeset color shades */
  --md-typeset-a-color:                var(--md-primary-fg-color--light);

  /* Typeset `mark` color shades */
  --md-typeset-mark-color:             hsla(#{hex2hsl($clr-blue-a200)}, 0.3);

  /* Typeset `kbd` color shades */
  --md-typeset-kbd-color:              hsla(var(--md-hue), 15%, 94%, 0.12);
  --md-typeset-kbd-accent-color:       hsla(var(--md-hue), 15%, 94%, 0.2);
  --md-typeset-kbd-border-color:       hsla(var(--md-hue), 15%, 14%, 1);

  /* Admonition color shades */
  --md-admonition-bg-color:            hsla(var(--md-hue), 0%, 100%, 0.025);

  /* Footer color shades */
  --md-footer-bg-color:                hsla(var(--md-hue), 15%, 12%, 0.87);
  --md-footer-bg-color--dark:          hsla(var(--md-hue), 15%, 10%, 1);

}

/* Headings */

.md-typeset h2,
.md-typeset h3,
.md-typeset h4
{
  color: var(--my-heading-color);
}

.md-typeset h2 {
  text-transform: uppercase;
  font-weight: 400;
}

.md-typeset h4 {
  font-style: italic;
}

/* Links */

.md-typeset a {
  color: var(--my-a-color);
  text-decoration: underline;
  text-decoration-color: var(--my-a-underline-color)
}

.md-typeset a:focus,
.md-typeset a:hover,
.md-typeset a:active,
.md-typeset .headerlink:focus,
.md-typeset .headerlink:hover,
.md-typeset .headerlink:active
{
  color: var(--my-a-hover-color);
  text-decoration-color: var(--my-a-hover-underline-color)
}

.md-typeset a:active,
.md-typeset a:active
{
  border-radius: 2px;
  background-color: var(--my-a-active-bgc);
}
